<div class="inner cover">
  <h2 class="cover-heading">Wellcome!</h2>
  <p class="lead">min-express-srv is a place, where you can create users and log in!</p>
  <p class="lead">If you already registered or know existing username and password somehow, please log in.</p>
  <p class="lead">Choose wisely:</p>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <a href="/login" class="btn btn-block btn-success col-sm-5">Log In</a>
    </div>
    <div class="col-sm-5">
      <a href="/register" class="btn btn-block btn-secondary col-sm-5">Sign Up</a>
    </div>
  </div>
</div>
